.main-nav {
  display: flex;
  justify-content: space-around;
  height: 60px;
  align-items: center;
}

.logo > img{
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 100%;
}

.menu{
    display: flex;
    gap: 10px;
}

.menu-list {
  display: flex;
  align-items: center;
  text-decoration: none;
}
